# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*,cover

# Translations
*.mo
*.pot

# Django stuff:
logs/*/*.log

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# PyCharm
.idea/

# KGs
data/yago*/*.7z
data/music*/*.bz2

# Rules
tmp/
rules.sh

# Models
model_farm

# SIDER Large Files
data/sider/

# YAGO3 Large Files
data/yago3_mte10_1k/README.md
data/yago3_mte10_1k/stats/yago3_entities_mte10.txt
# data/yago3_mte10_1k/tools/filter.py
# data/yago3_mte10_1k/tools/split.py
data/yago3_mte10_1k/yago3.tsv.gz
# data/yago3_mte10_1k/yago3_mte10-test.tsv.gz
# data/yago3_mte10_1k/yago3_mte10-train.tsv.gz
# data/yago3_mte10_1k/yago3_mte10-valid.tsv.gz
data/yago3_mte10_1k/yago3_mte10.tsv.gz
data/tmp/
